@page
@model ProiectContoare.Pages.Contoare.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contor.NumarSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contor.NumarSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contor.ValoareActuala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contor.ValoareActuala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contor.ConsumatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contor.ConsumatorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contor.ContorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
