@page
@model ProiectContoare.Pages.Consumatori.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumator.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumator.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumator.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumator.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumator.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consumator.ConsumatorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
