@page
@model ProiectContoare.Pages.Consumatori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consumator[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumator[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumator[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consumator) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ConsumatorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ConsumatorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ConsumatorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
